[Unit]
Description=uWSGI for ipcalc application
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/ipcalc
Environment="PATH=/home/ubuntu/.virtualenvs/ipcalc/bin"
ExecStart=/home/ubuntu/.virtualenvs/ipcalc/bin/uwsgi --ini ipcalc.ini

NotifyAccess=all

[Install]
WantedBy=multi-user.target


