.Treant {
    position: relative;
    overflow: hidden;
    padding: 0 !important;
}
.Treant > .node,
.Treant > .pseudo {
    position: absolute;
    display: block;
    visibility: hidden;
}
.Treant.Treant-loaded .node,
.Treant.Treant-loaded .pseudo {
    visibility: visible;
}
.Treant > .pseudo {
    width: 0;
    height: 0;
    border: none;
    padding: 0;
}
.Treant .collapse-switch {
    width: 3px;
    height: 3px;
    display: block;
    border: 1px solid black;
    position: absolute;
    top: 1px;
    right: 1px;
    cursor: pointer;
}
.Treant .collapsed .collapse-switch {
    background-color: #868DEE;
}
.Treant > .node img {	border: none;
    float: left;
}
.chart {
    height: 600px;
    margin: 5px;
    width: 900px;
}
.Treant > .node {
    padding: 3px;
    border: 1px solid #484848;
    border-radius: 3px;
}
.Treant > .node img {
    width: 100%;
    height: 100%;
}
.Treant .collapse-switch {
    width: 100%;
    height: 100%;
    border: none;
}
.Treant .node.collapsed {
    background-color: #009688;
    color: white;
}
.Treant .node.collapsed .collapse-switch {
    background: none;
}
