<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IP calc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Treant.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/super-simple.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/raphael.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Treant.js') }}"></script>
</head>
<body>
<div id="content" class="container-fluid">
    <h1>
        {% block header %}IP calculator {% endblock %}
    </h1>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Ввод необходимой информации</h2>
                    {% block form%}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% block alert %}
                <div class="alert alert-info">

                </div>
            {% endblock %}
        </div>
    </div>

    {% block content %}
    {% endblock %}
</div>
{% include "error-messages.html" %}
</body>
</html>