{% extends 'base.html' %}

{% block content %}
    <div class="row">
        {% include 'network_input_form.html' %}
        {% include 'recent_requests.html' %}
    </div>
    {% include 'messages.html' %}

    {% if calculated %}
        <div class="row">
            {% include 'network_info.html' %}
        </div>
        <div class="row">
            {% include 'network_subnets.html' %}
        </div>
        <div class="row">
            {% include 'network_binary.html' %}
        </div>
        <div class="row">
            {% include 'network_subnet_graph.html' %}
        </div>
    {% endif %}
{% endblock %}