{% extends 'report-panel.html' %}

{% if latest %}
    {% block panel_width %}
        col-xs-12 col-md-6 col-lg-6
    {% endblock %}
    {% block panel_head %}
        Last requests
    {% endblock %}

    {% block panel_body %}
        <div class="btn-group-vertical btn-block">
            {% for item in latest %}
                <a href="{{ item.path }}" class="btn btn-block btn-raised btn-default" style="overflow: hidden;">
                    {{ item.time | natural_time}} - {{ item.network }}: {{ item.sizes }}
                </a>
            {% endfor %}
        </div>
    {% endblock %}
{% endif %}