{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                {% block network_info %}{% endblock %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                {% block required_info %}{% endblock %}
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Граф распределения сети</h2>
                    <div id="chart"></div>
                    {% include "simple_chart.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}