{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{% block network_info_panel_head %}{% endblock %}</h3>
                </div>
                <div class="panel-body">
                    {% block network_info %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{% block binary_network_panel_head %}{% endblock %}</h3>
                </div>
                <div class="panel-body">
                    {% block binary_network_info %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{% block required_info_panel_head %}{% endblock %}</h3>
                </div>
                <div class="panel-body">
                    {% block required_info %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Граф распределения сети</h3>
                </div>
                <div class="panel-body">

                    <div id="chart"></div>
                    {% include "simple_chart.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}